data/raw/
data/processed/
/models/
mlruns/
reports/*.html
reports/.cache/
reports/.matplotlib-cache/
reports/production_logs/
logs/

.env
.venv/
venv/

__pycache__/
pycache/
*.pyc
.ipynb_checkpoints/
.DS_Store
